
/*Style do zadania 1*/
.borderClass {
   border: 1px solid purple;
}


/*Style do zadania 2*/
.colorText {
  color: red;
}

.backgroundElement {
  background-color: yellow;
}

/*Style do zadania 3*/

.redLinks{
  color: red;
}

.firstLink{
  font-size: 2rem;
}

/*Style do zadania 4 */
.creepyHeader {
    color:silver;
     text-shadow:
     4px 4px 1px #300000,
     4px 6px 1px #400000,
     4px 8px 1px #500000,
     4px 10px 1px #600000,
     4px 12px 1px #700000,
     4px 14px 1px #800000,
     4px 16px 1px #900000,
     4px 18px 1px #A00000,
     4px 20px 1px #B00000,
     4px 22px 1px #C00000,
     4px 24px 1px #D00000,
     4px 26px 1px #E00000,
     4px 28px 1px #F00000,
     4px 30px 1px #FA0000,
     4px 32px 1px #FB0000,
     4px 34px 1px #FC0000,
     4px 36px 1px #FD0000,
     4px 38px 1px #FE0000,
     4px 40px 2px #FF0000;
}

/*Inne style*/

.menu {
  background-color: #ecf0f1;
  padding: 80px;
}

.articles {
  background-color: #435a6b;
  padding: 80px;
}

.links {
    background-color: #2ac56c;
    padding: 80px;
}
.hover-effect a {
	color: rgba(0,0,0,0.2);
	font-weight: 700;
	text-shadow: none;
  text-decoration:none;
  margin-right: 20px;
}

.hover-effect a::before {
	color: #fff;
	content: attr(data-hover);
	position: absolute;
	transition: transform 0.3s, opacity 0.3s;
}

.hover-effect a:hover::before,
.hover-effect a:focus::before {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	transform: scale(0.9);
	opacity: 0;
}
